.modalHeader {
  font-size: 35px;
  font-family: Work sans;
  display: flex;
  justify-content: center;
}

.modalBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userBadges {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
